.App {
	text-align: center;
}

div {
	margin: 20px;
}

button {
	cursor: pointer;
}

.movie {
	display: inline-block;
	border: 1px solid #eee;
	box-shadow: 0 2px 2px #ccc;
	width: 200px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
}

.movies {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
	width: 350px;
	padding: 20px;
}

input {
	display: block;
    height: 40px;
    margin: 20px 0;
}

button {
    height: 50px;
    background-color: deepskyblue;
    border: none;
    color: white;
    font-size: 24px;
}